.grade-legend {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.grade-symbol-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.grade-color {
  height: 16px;
  width: 16px;
  border-radius: 16px;
  align-self: center;
}
