.grade-legend {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.grade-symbol-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
  background-color: #1f1f1f;;
  padding-left: 20px;
}

.grade-color {
  height: 16px;
  width: 16px;
  border-radius: 16px;
  align-self: center;
}

.close-button {
  background-color: #1f1f1f;
  border-radius: 0;
}

.close-button:hover {
    border-color: var(--grade_color);
}
