.report-card {
  background-color: #1f1f1f;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px 20px 10px;
  border-radius: 16px;
  min-width: 356px;
  min-height: 65px;

  display: flex;
  flex-direction: column;
}

.report-card__first-row {
  display: flex;
  align-items: center;
}

.grade-symbol {
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  padding: 8px;
  border-radius: 6px;
  line-height: 2.5;
  font-weight: 500;
}

.student-name {
  color: white;
  font-weight: medium;
  font-size: 15px;
}

.symbol-description {
  flex-grow: 3;
  text-align: right;
  margin-right: 15px;
  font-size: 11px;
}

.grade-percantage {
  font-size: 20px;
  font-weight: 500;
}

.report-card__second-row {
  display: flex;
  justify-content: center;
  width: 95%;
  height: 10px;
  margin: 20px;
}

.total-percentage-bar {
  background-color: #a2a2a2;
  height: 10px;
  flex-grow: 91;
}

.student-percentage {
  flex-grow: 9;
  background: linear-gradient(to right, #03ffa3, #1f1f1f);
  background-color: yellowgreen;
  transition: flex-grow 0.3s ease;
}
